@import "Variables.scss";
@import "Elevations.scss";
body{
    margin: 0;
}
.main-header{
    background-color: $primary;
    color: $on-p;
    z-index: 1;
    height: $header-height;
    width: 100%;
    position: fixed;
}

.main-body{
    background-color: $p-dark;
    color: $on-p;
    height: 900px;
    display: flex;
    // align-items:center;
    
}
.main-contents{
    margin-top: $header-height;
    max-width: 900px;
    padding: 20px;
    // flex의 남은 공간만큼 넓어짐
    flex-grow: 1;
    min-height: 100%;
}
.main-sidebar{
    background-color: $primary;
    margin-top: $header-height;
    // margin-left: 20px;
    color: $on-p;
    // 최소 사이즈 정함
    width: 240px;
    height: 100%;
    position: fixed;
    ul{
        list-style:none;
        padding-left: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);;
    }
    @include giant-screen{
        width: 360px;
    }
    
    @include mobile{
        display: none;
    }
    
}
.sidebar-header-item{
    padding: 12px 24px;
    width: 100%;
    height: 40px;
    font-size: 1.125rem;
}
a.sidebar-item{
    display: inline-block;
    padding: 12px 24px 12px 48px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
    :hover{
        background-color: grey;
    }
}
.main-footer{
    background-color: $p-dark;
    color: $on-p;
    height: 160px;
    
}


// sidebar is left
@if $sidebar-left-position{
    .main-body {
        flex-direction: row;
    }
    
    .main-contents {
        margin-left: $sidebar-width;
        @include mobile {
            margin-left: 0;
        }
    }
    .main-footer{
        margin-left: $sidebar-width;
        @include mobile{
            margin-left: 0;
        }
    }
    
} 
// sidebar is right
@else{
    .main-body{
        flex-direction: row-reverse;
    }
    .main-contents{
        margin-right: $sidebar-width;
        @include mobile {
            margin-right: 0;
        }
    }
    .main-footer{
        margin-right: $sidebar-width;
        @include mobile{
            margin-right: 0;
        }
    }
}