$header-height: 65px;
$sidebar-width: 240px;

$sidebar-left-position: false;

$primary: #424242;
$p-light: #6d6d6d;
$p-dark: #1b1b1b;
$on-p: #fafafa;
$secondary: #3f51b5;
$s-light: #757de8;
$s-dark: #002984;
$on-s: #f1f8e9;
// $on-primary;
// $on-secondary: ;

$giant: 1600px;
$desktop: 1024px;
$mobile: 767px;

@mixin giant-screen {
    @media (min-width: $giant) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}