@import "scss/Elevations";
@import "scss/Variables";
$sidebar-width: 240px;

.admin-body{
    background-color: $p-dark;
    color: $on-p;
    height: 900px;
    display: flex;
    // align-items:center;
    
}

.admin-contents{
    background-color: $p-dark;;
    margin-left: $sidebar-width;
    padding: 20px;
    flex-grow: 1;
    min-height: 100%;
}
.admin-sidebar{
    background-color: $primary;;
    // 최소 사이즈 정함
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    ul{
        list-style:none;
        padding-left: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);;
    }
    @include giant-screen{
        width: 360px;
    }
    
    @include mobile{
        display: none;
    }
    
}
.admin-sidebar-item{
    padding: 20px;
    
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

}